.main-container{
  flex: 1;
  overflow-y: auto;
  margin-left: 0;
  transition: margin-left 0.3s ease-in-out;
}
.main-container.--is-open{
  margin-left: 15.625rem;
}

@media screen and (width < 768px) {
  .main-container.--is-open{
    margin-left: 0;
  }
   
}